:root {
  --btn-hover: rgb(228, 228, 228);
  --max-container-width: 1300px;
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}


.app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Navbar Component */

.nav__wrapper {
  width: 100vw;
  background-color: rgb(245, 245, 245);
}
nav {
  width: var(--max-container-width);
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  background: transparent;
}
nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}

.logo {
  max-width: 130px;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 3em;
  flex: 1;
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 1em;

}

.cart__button {
  border: 1px solid gray;
  padding: 5px 10px;
}

.cart__button:hover {
  background-color:var(--btn-hover);
}

/* Hero Component */

.hero__wrapper {
  width: 100vw;
  background-position: center ;
  background-size: cover;
  background: url(./assets/images/hero.jpeg);
  background-size: cover;
  background-position: center;
}

.hero__outerContainer {
  width: var(--max-container-width);
  margin: 0 auto;
  padding: 1.5em 3em;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__outerContainer-left {
  flex: 1;
  height: 300px;
  color:black;
  max-width: 70ch;

}

.hero__outerContainer-left h1 {
  font-size:3rem;
}

.hero__outerContainer-left p {
  margin: 2em 0;
  font-size: 1.2rem;
}

.hero__outerContainer-left > button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgb(245, 245, 245);
}

.hero__outerContainer-left > button:hover {
  background-color: var(--btn-hover);
}
.hero__outerContainer-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__outerContainer-right img {
  max-width: 100%;
}

@media (min-width: 1500px) {
  .hero__outerContainer-left > button {
    padding: 15px 20px;
  }
}

/* Login Component */

.login__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: url('https://images.unsplash.com/photo-1510284876186-b1a84b94418f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  
}

.login__container {
  padding: 3em 2em ;
  margin: 0 auto;
  background-color: rgb(150, 161, 142);
}

.input__container {
  width: 320px;
  margin: 0 auto .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__container input {
  padding: 5px;
  width: 60%;
}

.login__container button {
  display: block;
  margin: 1em auto;
  padding: 5px 30px;
  cursor: pointer;
  outline: none;
  border: .5px solid gray;
}


.google__login {
  border-top: .5px solid gray;
}

.google__login button {
  cursor: pointer;
}

@media (min-width: 1500px) {
  /* .login__container {
    width: 500px;
  } */
}

/* Register Component */

.register__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1em;
  background: url('https://images.unsplash.com/photo-1510284876186-b1a84b94418f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}

.register__container {
  padding: 3em 2em ;
  margin: 0 auto;
  background-color: rgb(150, 161, 142);
}

.input__container {
  /* border: 1px solid red; */
  width: 320px;
  margin: 0 auto .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__container input {
  padding: 5px;
  width: 60%;
}

.register__container button {
  display: block;
  margin: 1em auto;
  padding: 5px 30px;
  cursor: pointer;
  outline: none;
  border: .5px solid gray;
}


.google__register {
  border-top: .5px solid gray;
}

.google__register button {
  cursor: pointer;
}

/* Products Component */
.products__outer-container {
  width: 100vw;
  margin: 0 auto;
  padding: 1em 0;
  background-color: rgb(255, 250, 237);
}

.products__outer-container h1 {
  text-align: center;
}

.categories__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

.categories__container button {
  padding: 10px 15px;
  cursor: pointer;
  border: .5px solid gray;
  background-color: white;
  border-radius: 10px;
  
}

.categories__container button:hover {
  background-color: var(--btn-hover);
}

.products__container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.loading__container {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (min-width: 1500px) {
  .categories__container > button {
    font-size: 1.2rem;
    padding: 15px 20px;
  }
}
/* Product Component */

.product__container {
  width: 300px;
  border: .5px solid gray;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: white;
  border-radius: 10px;
}

.product__container img {
  width: 120px;
  height: 120px;
}

.buttons__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.product__container .product__btn {
  padding: 5px 10px;
  background: white;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}

.product__container .product__btn:hover {
  background-color: var(--btn-hover);
}

/* ProductPage Component */

.productpage__outer-container {
  max-width: var(--max-container-width);
  margin: 1.5em auto;
  padding: 5em 3em;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.productpage__image-container {
  display: grid;
  place-items: center;
}

.productpage__image-container img {
  max-width: 250px;
  
}

.productpage__info-container {
  max-width:50ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.productpage__info-container button {
  padding: 15px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}

.productpage__info-container > button:hover {
  background-color: rgb(228, 228, 228);
}


/* Footer Component */

.footer__outer-container {
  width: 100vw;
  padding: 1.5em 2em;
  background: url('https://images.unsplash.com/photo-1510284876186-b1a84b94418f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-position: center;
  background-size:cover ;
  background-repeat: no;
  margin-top: auto;
}

.footer__wrapper {
  max-width: var(--max-container-width);
  padding: 1em 0;
  margin: 0 auto;
}

/* Cart Component */

.cart__wrapper {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 2em 0;
  background: url('https://images.unsplash.com/photo-1595409464910-ee97814a297c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80');
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
}

.cart__title {
  padding: .5em 0;
  max-width: 900px;
  margin: 0 auto;
}

.cart__outerContainer {
  width: 900px;
  margin: 0 auto;
  border: 1px solid gray;
  background: white;
  padding: 1em;
}

.totalValueContainer {
  text-align: right;
  padding: 1em 0;
  border-top: .5px solid gray;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.totalValueContainer .total {
  border-top: .5px solid gray;
  padding: 5px 0;
  letter-spacing: .8px;
}

/* CartItem Component */

.cartItem__wrapper {
  max-width: 100%;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  margin: 0 auto;
}

.cartItem__left img {
  width: 100px;
  height: 100px;
}

.cartItem__right {
  display: flex;
  flex-direction: column;
  gap: .5em;
  flex: 1;
}

.cartItem__right p {
  font-size: 1rem;
  max-width: 40ch;
}

.remove__button {
  padding: 10px 10px;
  cursor: pointer;
  border: none;
}

/* Counter Component */

.counter__wrapper {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.counter__wrapper button, span {
  padding: 5px 10px;
  width: 40px;
  height: 40px;
  background: rgb(229, 229, 229);
  border: none;
  display: grid;
  place-items: center;
  font-size: 1rem;
}

.counter__wrapper button {
  cursor: pointer;
}

.counter__wrapper button:hover {
  background-color:var(--btn-hover);
}

/* ProfilePage Component */

.profile__wrapper {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 1em 0;
}

 .show {
display: block;
}

.hide {
  display: none;
}

.profile__topSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 4em;
  border-bottom: .5px solid gray;
}

.profile__topSection img {
  width: 100px;
  border-radius: 30%;
  margin-right: 4em;
}

.username__container {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.username__container button {
  padding: 5px 5px;
  cursor: pointer;
}

.counts__container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}