:root {
  --btn-hover: rgb(243, 243, 243);
  --max-container-width: 1500px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover);
}



/* Navbar Component */

.nav__wrapper {
  width: 100vw;
  background-color: rgb(255, 228, 164);
}
nav {
  width: var(--max-container-width);
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  background: transparent;
}
nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}

.logo {
  max-width: 130px;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 3em;
  flex: 1;
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 1em;

}

.cart__button {
  border: 1px solid black;
  padding: 5px 10px;
}

.cart__button:hover {
  background-color:var(--btn-hover);
}

/* Hero Component */

.hero__wrapper {
  width: 100vw;
  background: orange;
  background-position: center ;
  background-size: cover;
}

.hero__outerContainer {
  width: var(--max-container-width);
  margin: 0 auto;
  padding: 1.5em 0;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__outerContainer-left {
  flex: 1;
  height: 300px;
  color:black;
  max-width: 70ch;

}

.hero__outerContainer-left h1 {
  font-size:3rem;
}

.hero__outerContainer-left p {
  margin: 2em 0;
  font-size: 1.2rem;
}

.hero__outerContainer-left button {
  padding: 10px 15px;
  cursor: pointer;
}
.hero__outerContainer-right {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__outerContainer-right img {
  max-width: 100%;
}

/* Login Component */

.login__container {
  width: 400px;
  border: 1px solid gray;
  padding: 2em 2em;
  margin: 0 auto;
  background-color: rgb(213, 255, 241);
}

.input__container {
  width: 300px;
  margin: 0 auto .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__container input {
  padding: 5px;
}

.login__container button {
  display: block;
  margin: 1em auto;
  padding: 5px;
}

/* Products Component */
.products__outer-container {
  width: 100vw;
  margin: 0 auto;
  padding: 1em 0;
  background-color: rgb(255, 228, 164);
}

.products__outer-container h1 {
  text-align: center;
}

.categories__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

.categories__container button {
  padding: 10px 15px;
  cursor: pointer;
  border: .5px solid gray;
  background-color: white;
  
}

.categories__container button:hover {
  background-color: var(--btn-hover);
}

.products__container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.loading__container {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* Product Component */

.product__container {
  width: 335px;
  border: .5px solid gray;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background: white;
}

.product__container img {
  width: 150px;
  height: 150px;
}

.buttons__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.product__container .product__btn {
  padding: 5px 10px;
  background: white;
  border: 1px solid gray;
  cursor: pointer;
}

.product__container .product__btn:hover {
  background-color: var(--btn-hover);
}

/* ProductPage Component */

.productpage__outer-container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 5em 3em;
  display: flex;
  justify-content: center;
  gap: 5em;
  border-top: 1px solid gray;
}

.productpage__image-container img {
  max-width: 250px;
}

.productpage__info-container {
  max-width: 70ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.productpage__info-container button {
  padding: 15px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}


/* Footer Component */

.footer__outer-container {
  width: 100vw;
  padding: 1.5em 2em;
  background: rgb(63, 113, 213);
}

.footer__wrapper {
  max-width: var(--max-container-width);
  padding: 1em 0;
  margin: 0 auto;
}

/* Cart Component */

.cart__wrapper {
  width: 100vw;
  margin: 0 auto;
  min-height: 85vh;
  padding: 2em 0;
}

.cart__title {
  padding: .5em 0;
  max-width: 900px;
  margin: 0 auto;
}

.cart__outerContainer {
  width: 1100px;
  margin: 0 auto;
  border: 2px solid gray;
  padding: 1em;
}

.totalValueContainer {
  text-align: right;
  padding: 1em 0;
  border-top: .5px solid gray;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.totalValueContainer .total {
  border-top: .5px solid gray;
  padding: 5px 0;
  letter-spacing: .8px;
}

/* CartItem Component */

.cartItems__title {
  border-bottom: .5px solid gray;
  padding:.5em 0 ;
}

.cartItem__wrapper {
  max-width: 100%;
  min-height: 150px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.cartItem__left img {
  width: 120px;
  height: 120px;
}

.cartItem__right {
  display: flex;
  flex-direction: column;
  gap: .5em;
  flex: 1;
}

.cartItem__right p {
  font-size: 1.5rem;
  max-width: 45ch;
}

.remove__button {
  padding: 10px 10px;
  cursor: pointer;
  border: none;
}

/* Counter Component */

.counter__wrapper {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.counter__wrapper button, span {
  padding: 5px;
  width: 45px;
  height: 45px;
  background: rgb(205, 205, 205);
  border: none;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
}

.counter__wrapper button {
  cursor: pointer;
}